/* ----- Global ----- */
:root {
    --clr-1: rgb(37 38 39);
    --clr-2: rgb(86 78 88);
    --clr-3: rgb(242 239 233);
    --clr-4: rgb(191 180 143);
    --clr-5: rgb(144 78 85);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Start: General Style */
.partStyle::after{
    display: block;
    height: 0.15rem;
    width: 10vw;
    background-color: black;
    content: " ";
    margin-top: 0.5rem;
    margin-bottom: 1rem ;
}

.hiddenIt {
    display: none;
}
/* End: General Style */

/* Start: Header Container */
.hero-container {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-5);
    height: 50vh;
}
/* Start: Header Head */
.transparent {
    display: flex;
    height: 15vh;
}

.top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 65vw;
}

.site {
    font-size: 2rem;
    color: var(--clr-3);
}

.sticky {
    display: flex;
    position: fixed;
    width: 100%;
    height: 5vh;
    background-color: rgb(216, 85, 94);
    border-bottom: solid #312F2F 1px;
}

.nav-bar, li {
    display: flex;
    list-style: none;
    padding: .5rem .5rem .5rem 1.5rem;
}

.nav-bar li a.unchanged {
    color: var(--clr-3);
}

.nav-bar a:link, a:visited {
    text-decoration: none;
    color: var(--clr-1);
}

.nav-bar a:hover {
    text-decoration: none;
    color: var(--clr-3);
    transition-duration: .3s;
}
/* Start: Header Body*/
.callCard {
    width: 62vw;
    display: flex;
    flex-direction: column;
    margin: auto auto;
}