/* ----- Global ----- */
:root {
    --clr-1: rgb(37 38 39);
    --clr-2: rgb(86 78 88);
    --clr-3: rgb(242 239 233);
    --clr-4: rgb(191 180 143);
    --clr-5: rgb(144 78 85);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Style */
.title--underBar::after{
    display: block;
    height: 0.15rem;
    width: 10vw;
    background-color: black;
    content: " ";
    margin-top: 0.5rem;
    margin-bottom: 1rem ;
}

.hiddenIt {
    display: none;
}

/* Scroll Styling */
.nav--transparent {
    display: flex;
    height: 20vh;
}

.nav--sticky {
    display: flex;
    position: fixed;
    width: 100%;
    height: 8vh;
    background-color: var(--clr-2);
    border-bottom: solid #312F2F 1px;
}

/* Header Container */
.hero__container {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-5);
    height: 40vh;
}

.horiz__containter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 65vw;
}

.site--logo {
    font-size: 2rem;
    color: var(--clr-3);
}

.nav--bar, li {
    display: flex;
    list-style: none;
    padding: .5rem .5rem .5rem 1.5rem;
}

.nav--bar li a.unchanged {
    color: var(--clr-3);
}

.nav--bar a:link, a:visited {
    text-decoration: none;
    color: var(--clr-1);
}

.nav--bar a:hover {
    text-decoration: none;
    color: var(--clr-3);
    transition-duration: .3s;
}

.hero--callCard {
    width: 62vw;
    display: flex;
    flex-direction: column;
    margin: auto auto;
}

/* Placeholder (Delete on merge) */
.placeholder {
    background-color: darkcyan;
    height: 100vh;
}