:root {
    --clr-1: rgb(37 38 39);
    --clr-2: rgb(86 78 88);
    --clr-3: rgb(242 239 233);
    --font-primary: rgb(191 180 143);
    --color-primary: rgb(144 78 85);
    --color-primary-dark: rgb(91, 47, 52);
    --color-error: #ff0000;
    --border-radius: 4px;
}

/* Start: General Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap');

html, body {
    text-rendering: optimizeLegibility;
}

body { font-family: "Roboto", "Helvetica", "Sans-serif"; }

h1 {
    font-weight:900;
    font-size: 2.75rem;
    color: var(--font-primary);
    margin-bottom: 1rem;
}

h3 {
    font-weight:900;
    font-size: 1.5rem;
    color: var(--font-primary);
    margin-top: 1rem;
}

.partStyle::after{
    display: block;
    height: 2px;
    width: 150px;
    border-color: var(--color-primary);
    content: " ";
    margin: auto;
    margin-top: 10px;
    margin-bottom: 40px;
}

.partStyle2::after{
    display: block;
    height: 2px;
    width: 250px;
    background-color: var(--color-primary);
    content: " ";
    margin-top: 10px;
}
/* End: General Style */

.background {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(65, 64, 64, 0.4);
}

.login__container {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgpa(0,0,0,0.2);
    border-radius: var(--border-radius);
    background: #FFFFFF;
}

.login__container, .form__input, .form__button {
    font-size: 1rem;
}

.hiddenIt {
    display: none;
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form__title {
    margin-bottom: 2rem;
    text-align: center;
}

.form__message {
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--error {
    color: var(--color-error);
}

.form__input-group {
    margin-bottom: 1rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
    border-color: var(--color-primary);
    background: #ffffff;
}

.form__input--error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: 500;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}

.form__button:hover {
    background: var(--color-primary-dark);
}

.form__button:active {
    transform: scale(0.98);
}

.form__text {
    text-align: center;
}

.form__link {
    color: var(--font-primary);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    text-decoration: underline;
}