/* ----- Global ----- */
:root {
    --clr-1: rgb(37 38 39);
    --clr-2: rgb(86 78 88);
    --clr-3: rgb(242 239 233);
    --clr-4: rgb(191 180 143);
    --clr-5: rgb(144 78 85);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100px;
    max-height: 100px;
}

/* ----- Grid ----- */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 50px;
}

/* ----- Menu ----- */
.hiddenIt {
    display: none;
}

.menu-container {
    margin: 200px
}

.menu-item {
    height: 300px;
    background: green;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr;
}

.menu-item > * {
    margin: auto;
}

h3 {
    font-size: 30px;
}