/* ----- Global ----- */
:root {
    --clr-1: rgb(37 38 39);
    --clr-2: rgb(86 78 88);
    --clr-3: rgb(242 239 233);
    --clr-4: rgb(191 180 143);
    --clr-5: rgb(144 78 85);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hiddenIt {
    display: none;
}

/* Item Styling */
.item > * {
    margin: 0.75rem 0.5rem;
}

.item {
    text-align: center;
    max-width: 18rem;
    background-color: var(--clr-3);
}

.item > img {
    max-width: 90%;
    border: 1px solid black;
}

.item--alignment{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 1rem;
    margin-right: 1rem;
}

.item--description {
    background-color: white;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Category Styling */
.listing__container > * {
    margin-left: 1rem;
    margin-right: 1rem;
}

.listing__container {
    display: flex;
    justify-content: flex-start;
}

.listing__container > p {
    background-color: var(--clr-5);
    text-align: center;
    max-width: 18rem;
    padding: 3rem;
}