/* ----- Global ----- */

:root {
    --clr-1: rgb(37 38 39);
    --clr-2: rgb(86 78 88);
    --clr-3: rgb(242 239 233);
    --clr-4: rgb(191 180 143);
    --clr-5: rgb(144 78 85);
}

@keyframes slide-in {
    0% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0px);
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* ----- Element ----- */

    /* --color-primary: rgb(144 78 85);
    --color-primary-dark: rgb(91, 47, 52);
    --color-secondary: rgb(191 180 143);
    --color-error: #ff0000;
    --border-radius: 4px;
} */

.background {
    margin: 0;
    height: 100vh;
    font-size: 18px;
    background: rgba(65, 64, 64, 0.4);
    /* 
    these two were my original colors for the menu page -david
    background-color: var(--clr-2);
    color: var(--clr-1); 
    */
}

img {
    max-width: 100px;
    max-height: 100px;
}

a {
    text-decoration: none;
}

/* ----- Grid ----- */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
}

/* ----- Menu ----- */

.menu-container {
    margin: 200px
}

.menu-item {
    height: 300px;
    background: var(--clr-4);
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    border: 4px solid var(--clr-1);
    box-shadow: inset 0 0 5px var(--clr-1), 0 0 5px var(--clr-1);
}

.menu-item > * {
    margin: auto;
}

h3 {
    font-size: 30px;
}

.menu-price {
    font-size: 25px;
}

.menu-btn {
    background-color: transparent;
    border: none;
    border-radius: 20px;
    padding: 15px 20px;
    transition: 600ms;
}

.menu-btn:hover {
    background-color: rgb(171 160 123);
}